@model IEnumerable<StudentManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>*@

                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-info">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary ml-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger ml-1">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_Pager" model="@pager" />
